{% extends "layout.html" %}
{% block content %}
  <h1 style="margin-left:10px;">Home</h1>
  <div style="margin-top:-25px;"></div>
  {% for post in posts.items %}
    <div class="post_card">
      <div class="post_card_left">
        <img class="user_img" style="margin-left:50px;margin-top:20px;" src="{{ url_for('static',filename='profile_pics/{}'.format(post.author.image_file)) }}">
        <h2 style="margin-left:0px;text-align:center;color:white;"><a style="text-decoration:none;color:white;" href="{{ url_for('users.profile',username=post.author.username) }}">{{ post.author.username }}</a></h2>
        <h2 style="margin-top:-10px;margin-left:0px;text-align:center;font-family:'Spartan-MB',sans-serif;font-size:15px;font-weight:600;color:white;">{{ post.date.strftime('%d-%m-%Y') }}</h2>
      </div>
      <div style="margin-top:-300px;"></div>
      <button class="button more_button" style="margin-left:710px;margin-top:250px;"><a href="{{ url_for('posts.post_page',username=post.author.username,id=post.id) }}" style="text-decoration:none;color:inherit;"><h2 style="font-family:'League-Spartan',sans-serif;font-size:20px;margin:auto;">more</h2></a></button>
      <div style="margin-top:-285px;margin-left:200px;">
        <h1 style="margin-top:0px;margin-bottom:25px;font-size:26px;"><a style="text-decoration:none;color:inherit;" href="{{ url_for('posts.post_page',username=post.author.username,id=post.id) }}">{{ post.title }}</a></h1>
        {% if post.content|length >=310 %}
          <pre style="white-space:pre-wrap;"><h3 style="margin-top:-25px;font-family:'Spartan-MB',sans-serif;font-weight:normal;">{{ post.content[0:310] }}</h3><pre>
          <h2 style="margin-top:-20px;font-family:'Spartan-MB',sans-serif;font-weight:800;">Continued...</h2>
        {% else %}
          <pre style="white-space:pre-wrap;"><h3 style="margin-top:-25px;font-family:'Spartan-MB',sans-serif;font-weight:normal;">{{ post.content }}</h3><pre>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  <div style="height:50px;"></div>
  <div style="margin-left:10px;">
    {% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
      {% if page_num %}
        {% if page_num == posts.page%}
          <a class="paginate_selected" style="text-decoration:none;" href="{{ url_for('main.home',page=page_num )}}">{{ page_num }}</a>
        {% else %}
          <a class="paginate" style="text-decoration:none;" href="{{ url_for('main.home',page=page_num )}}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
  </div>
  <div style="height:20px;"></div>
  <div>
    <button class="button submit_button" style="width:150px;margin-left:10px;margin-bottom:20px;"><a style="text-decoration:none;color:inherit;" href="{{ url_for('main.home',page=posts.prev_num) }}">Previous Page</a></button>
    <button class="button submit_button" style="width:150px;margin-left:0px;margin-bottom:20px;"><a style="text-decoration:none;color:inherit;" href="{{ url_for('main.home',page=posts.next_num) }}">Next Page</a></button>
  </div>
{% endblock content %}
