{% extends "layout.html" %}

{% block content %}
  <h1 style="margin-left:10px;">Register</h1>
  <div class="post" style="margin-top:20px;overflow:auto;height:auto;">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <div style="height:10px;"></div>
      <div style="margin-top:20px;">
        {{ form.username.label(class="label_field") }}
        <div></div>
        {% if form.username.errors %}
          {{ form.username(class="input_field_error") }}
          <div style="color:#f72d52;">
            {% for error in form.username.errors %}
              <h3 style="font-size:15px;margin-top:5px;">{{ error }}</h3>
            {% endfor %}
          </div>
        {% else %}
          {{ form.username(class="input_field") }}
        {% endif %}
      </div>
      <div style="margin-top:20px;">
        {{ form.email.label(class="label_field") }}
        <div></div>
        {% if form.email.errors %}
          {{ form.email(class="input_field_error") }}
          <div style="color:#f72d52;">
            {% for error in form.email.errors %}
              <h3 style="font-size:15px;margin-top:5px;">{{ error }}</h3>
            {% endfor %}
          </div>
        {% else %}
          {{ form.email(class="input_field") }}
        {% endif %}
      </div>
      <div style="margin-top:20px;">
        {{ form.password.label(class="label_field") }}
        <div></div>
        {% if form.password.errors %}
          {{ form.password(class="input_field_error") }}
          <div style="color:#f72d52;">
            {% for error in form.password.errors %}
              <h3 style="font-size:15px;margin-top:5px;">{{ error }}</h3>
            {% endfor %}
          </div>
        {% else %}
          {{ form.password(class="input_field") }}
        {% endif %}
      </div>
      <div style="margin-top:20px;">
        {{ form.confirm_password.label(class="label_field") }}
        <div></div>
        {% if form.confirm_password.errors %}
          {{ form.confirm_password(class="input_field_error") }}
          <div style="color:#f72d52;">
            {% for error in form.confirm_password.errors %}
              <h3 style="font-size:15px;margin-top:5px;">{{ error }}</h3>
            {% endfor %}
          </div>
        {% else %}
          {{ form.confirm_password(class="input_field") }}
        {% endif %}
      </div>
      <div style="margin-top:20px;">
        {{ form.submit(class="button submit_button") }}
      </div>
      <div>
        <h2 style="font-family:'Spartan-MB',sans-serif;font-size:15px;font-weight:normal;">Already have an account? <a style="text-decoration:none;color:#03989e;" href="{{ url_for('users.login') }}"><h2 style="font-size:15px;display:inline;margin-left:2px;font-family:'Spartan-MB',sans-serif;font-weight:900;">Click here</h2></a></h2>
      </div>
    </form>
  </div>
{% endblock content%}
