{% extends "layout.html" %}
{% block content %}
  <h1 style="margin-left:500px;">Home</h1>
  <div style="margin-top:-20px;"></div>
  {% for post in posts %}
    <div class="post">
      <div style="height:1px;"></div>
      <div>
        <button class="button more_button" style="margin-left:435px;margin-top:460px;"><a href="{{ current_user.username }}/post/{{ post.id }}" style="text-decoration:none;color:inherit;"><h2 style="font-size:15px;margin:auto;">More</h2></a></button>
        <div style="margin-top:-490px;"></div>
        <h1 style="margin-top:5px;margin-bottom:25px;font-size:26px;">{{ post.title }}</h1>
        <div style="margin-top:-20px;"></div>
        <div style="text-align:center;background-color:#7e7d80;color:white;">
          <h2 style="display:inline;margin-right:15px;font-family:'Roboto',sans-serif;font-size:15px;">{{ post.date.strftime('%d-%m-%Y') }}</h2>
          <h2 style="display:inline;margin-right:15px;">{{ post.author.username }}</h2>
        </div>
      </div>
      {% if post.content|length >=775 %}
        <h3 style="font-family:'Roboto',sans-serif;font-weight:normal;">{{ post.content[0:775] }}</h3>
        <h2>Continued...</h2>
      {% else %}
        <h3 style="font-family:'Roboto',sans-serif;font-weight:normal;">{{ post.content }}</h3>
      {% endif %}
    </div>
  {% endfor %}
{% endblock content %}
