<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/layout.css') }}">
  {% if title %}
    <title>Flask Blog - {{ title }}</title>
  {% else %}
    <title>Flask Blog</title>
  {% endif %}
</head>
<body>
  <div class="top_bar">
    <div style="height:1px;"></div>
    <h1 style="font-family:'League-Spartan',sans-serif;margin-left:510px;font-size:30px;margin-top:5px;margin-right:auto;"><a href="{{ url_for('main.home') }}" style="text-decoration:none;color:white;">pranav sastry</a></h1>
    <div style="margin-top:-50px;"></div>
    {% if current_user.is_authenticated %}
      <h2 style="margin-left:1520px;margin-right:300px;margin-top:2px;font-size:25px;"><a href="{{ url_for('users.account') }}" style="text-decoration:none;color:white;">{{ current_user.username }}</a></h2>
    {% endif %}
  </div>
  <div class="right_bar" style="text-align:center;">
    <div style="height:10px;"></div>
    <h1 style="font-family:'League-Spartan',sans-serif;font-size:25px;margin-top:10px;margin-left:0px;"><a href="{{ url_for('main.home') }}" style="text-decoration:none;color:white;">Home</a></h1>
    <h1 style="font-family:'League-Spartan',sans-serif;font-size:25px;margin-top:10px;margin-left:0px;"><a href="{{ url_for('main.about') }}" style="text-decoration:none;color:white;">About</a></h1>
    {% if current_user.is_authenticated %}
      <h1 style="font-family:'League-Spartan',sans-serif;font-size:25px;margin-top:10px;margin-left:0px;"><a href="{{ url_for('posts.new_post',username=current_user.username) }}" style="text-decoration:none;color:white;">New Post</a></h1>
      <h1 style="font-family:'League-Spartan',sans-serif;font-size:25px;margin-top:10px;margin-left:0px;"><a href="{{ url_for('users.profile',username=current_user.username) }}" style="text-decoration:none;color:white;">Profile</a></h1>
      <h1 style="font-family:'League-Spartan',sans-serif;font-size:25px;margin-top:10px;margin-left:0px;"><a href="{{ url_for('users.account') }}" style="text-decoration:none;color:white;">Account</a></h1>
      <h1 style="font-family:'League-Spartan',sans-serif;font-size:25px;margin-top:10px;margin-left:0px;"><a href="{{ url_for('users.logout') }}" style="text-decoration:none;color:white;">Logout</a></h1>
    {% else %}
    <h1 style="font-family:'League-Spartan',sans-serif;font-size:25px;margin-top:10px;margin-left:0px;"><a href="{{ url_for('users.login') }}" style="text-decoration:none;color:white;">Login</a></h1>
    <h1 style="font-family:'League-Spartan',sans-serif;font-size:25px;margin-top:10px;margin-left:0px;"><a href="{{ url_for('users.register') }}" style="text-decoration:none;color:white;">Register</a></h1>
    {% endif %}
  </div>
  <div style="margin-top:-590px;height:0px;"></div>
  <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category,message in messages %}
          {% if category == 'success' %}
            <div class="success" style="text-align:center;overflow:auto;height:auto">
              <div style="height:1px;"></div>
              <h3 style="font-family:'Spartan-MB',sans-serif;font-weight:700;font-size:18px;margin-top:4px;margin-left:auto;margin-right:auto;">{{ message }}</h3>
            </div>
          {% else %}
          <div class="failure" style="text-align:center;overflow:auto;height:auto">
            <div style="height:1px;"></div>
            <h3 style="font-family:'Spartan-MB',sans-serif;font-weight:700;font-size:18px;margin-top:4px;margin-left:auto;margin-right:auto;">{{ message }}</h3>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>
  <div style="margin-bottom:50px;"></div>
</body>
</html>
