{% extends "layout.html" %}

{% block content %}
  <h1 style="margin-left:500px;">Post</h1>
  <div class="post" style="margin-top:0px;height:{{ post_div_length }}px;width:700px;">
    <div style="height:1px;"></div>
    {% if current_user.username == post.author.username %}
      <button class="button update" style="margin-left:460px;"><a style="text-decoration:none;color:inherit" href="{{ url_for('posts.update_page',username=post.author.username,id=post.id) }}">Update</a></button>
      <button class="button delete"><a style="text-decoration:none;color:inherit" href="{{ url_for('posts.delete_page',username=post.author.username,id=post.id) }}">Delete</a></button>
    {% endif %}
    <h1 style="margin-top:5px;margin-bottom:25px;font-size:26px;">{{ post.title }}</h1>
    <div style="margin-top:-20px;"></div>
    <div style="text-align:center;background-color:#7e7d80;color:white;">
      <h2 style="display:inline;margin-right:15px;font-family:'Roboto',sans-serif;font-size:15px;">{{ post.date.strftime('%d-%m-%Y') }}</h2>
      <h2 style="display:inline;margin-right:15px;"><a style="text-decoration:none;color:inherit;" href="{{ url_for('users.profile',username=post.author.username) }}">{{ post.author.username }}</a></h2>
    </div>
    <pre style="white-space:pre-wrap;"><h3 style="font-family:'Roboto',sans-serif;font-weight:normal;">{{ post.content }}</h3></pre>
  </div>
{% endblock content %}
