@font-face {
  font-family:Code-Pro;
  src:url('/static/fonts/code-pro/Code Pro Black.otf');
  src:url('/static/fonts/code-pro/Code Pro Black LC.otf');
  font-weight:900;
}

@font-face {
  font-family:Code-Pro;
  src:url('/static/fonts/code-pro/Code Pro Bold.otf');
  src:url('/static/fonts/code-pro/Code Pro Bold LC.otf');
  font-weight:800;
}

@font-face {
  font-family:Code-Pro;
  src:url('/static/fonts/code-pro/Code Pro.otf');
  src:url('/static/fonts/code-pro/Code Pro LC.otf');
  font-weight:600;
}

@font-face {
  font-family:Code-Pro;
  src:url('/static/fonts/code-pro/Code Pro Light.otf');
  src:url('/static/fonts/code-pro/Code Pro Light LC.otf.otf');
  font-weight:500;
}

@font-face {
  font-family:League-Spartan;
  src:url('/static/fonts/league-spartan/league-spartan.bold.ttf');
}

@font-face {
  font-family:Spartan-MB;
  src:url('/static/fonts/spartan-mb/SpartanMB-Black.otf');
  font-weight: 1000;
}

@font-face {
  font-family:Spartan-MB;
  src:url('/static/fonts/spartan-mb/SpartanMB-Extra-Bold.otf');
  font-weight: 900;
}

@font-face {
  font-family:Spartan-MB;
  src:url('/static/fonts/spartan-mb/SpartanMB-Bold.otf');
  font-weight: 800;
}

@font-face {
  font-family:Spartan-MB;
  src:url('/static/fonts/spartan-mb/SpartanMB-SemiBold.otf');
  font-weight: 700;
}

@font-face {
  font-family:Spartan-MB;
  src:url('/static/fonts/spartan-mb/SpartanMB-Regular.otf');
  font-weight: 600;
}

.top_bar{
  height:50px;
  width:101%;
  background-color: #03989e;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: auto;
  margin-bottom: auto;
  border: none;
}

.right_bar{
  height:500px;
  width:250px;
  background-color: #03989e;
  margin-top: 80px;
  margin-bottom:auto;
  margin-right: 300px;
  margin-left:auto;
}

.post{
  height:500px;
  width:500px;
  background-color: #e0e0e0;
  margin-top: 50px;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 500px;
  border-radius: 5px;
}

.post:hover{
  background-color: #d2d5d9;
}

.post_card{
  height:300px;
  width:800px;
  background-color: #d9d9d9;
  margin-top: 50px;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 500px;
  position:relative;
}

.post_card_left{
  height:300px;
  width:200px;
  background-color: #03989e;
  margin-left: 0px;
  margin-top:0px;
  margin-right: auto;
  position:relative;
}

.more_button{
  background-color: black;
  height: 30px;
  width: 50px;
  color:white;
  text-decoration: none;
  border:none;
}

.more_button:hover{
  background-color: white;
  color: black;
}

.input_field{
  height: 35px;
  width: 400px;
  border:none;
  border-radius: 5px;
  margin-top:10px;
  margin-left: 10px;
  font-size:20px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.input_field_error{
  height: 35px;
  width: 400px;
  border:none;
  border-radius: 5px;
  margin-top:10px;
  margin-left: 10px;
  font-size:20px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  border-color:red;
  border-style: solid;
}

.text_field{
  height: 625px;
  width: 675px;
  border:none;
  border-radius: 5px;
  margin-top:10px;
  margin-left: 10px;
  font-size:20px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.text_field_error{
  height: 625px;
  width: 675px;
  border:none;
  border-radius: 5px;
  margin-top:10px;
  margin-left: 10px;
  font-size:20px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-weight: normal;
  border-color:red;
  border-style: solid;
}

.label_field{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top:10px;
}

.submit_button{
  height:40px;
  width:100px;
  background-color: black;
  color:white;
  border:none;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 35px;
  margin-left: 380px;
}

.submit_button:hover{
  color:black;
  background-color: #17c704;
}

.success{
  height:30px;
  width:500px;
  color:black;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  background-color: #2df76d;
  border-radius:5px;
  opacity:0.8;
}

.failure{
  height:30px;
  width:500px;
  color:black;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  background-color: #f72d52;
  border-radius:5px;
  opacity:0.8;
}

.checkbox{
  display:inline;
  height:25px;
  width:25px;
  margin-left: -10px;
}

.user_img{
  height:100px;
  width:100px;
  border-radius:50%;
  margin-left:200px;
  margin-top:20px;
}

.file_input{
  font-family:'Raleway','sans-serif';
  font-weight:600;
  font-size:15px;
  margin-left:10px;
  margin-top:5px;
}

.file_input::-webkit-file-upload-button{
  font-family:'Raleway','sans-serif';
  font-weight:800;
  font-size:15px;
  height:35px;
  width:100px;
  margin-top:5px;
  background-color: black;
  color:white;
  border:none;
  border-radius:5px;
}

.file_input::-webkit-file-upload-button:hover{
  background-color: white;
  color:black;
}

.update{
  font-family:'Raleway','sans-serif';
  font-weight:800;
  font-size:15px;
  height:30px;
  width:100px;
  background-color: #17c704;
  color:white;
  margin-right:10px;
  border-radius: 5px;
  border:none;
  margin-top:10px;
}

.delete{
  font-family:'Raleway',sans-serif;
  font-weight:800;
  font-size:15px;
  height:30px;
  width:100px;
  background-color: red;
  color:white;
  margin-right: 10px;
  border-radius: 5px;
  border:none;
  margin-top:10px;
}

.paginate{
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 15px;
  height:15px;
  width:15px;
  margin-top: 10px;
  margin-left:5px;
  margin-right:5px;
  border-radius: 5px;
  border:none;
  color:white;
  background-color: #17c704;
  padding:10px;
}

.paginate_selected{
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 15px;
  height:15px;
  width:15px;
  margin-top: 10px;
  margin-left:5px;
  margin-right:5px;
  border-radius: 5px;
  border:none;
  color:white;
  background-color: black;
  padding:10px;
}

.paginate:hover{
  color:white;
  background-color: black;
}

h1{
  font-family: 'Code-Pro', sans-serif;
  font-weight: 800;
  font-size: 35px;
  margin-left: 10px;
  letter-spacing:-1px;
}

h2{
  font-family: 'Code-Pro', sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin-left: 10px;
  letter-spacing:-1px;
}

h3{
  font-family: 'Code-Pro', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left: 10px;
  letter-spacing:-1px;
}
