<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/layout.css') }}">
  {% if title %}
    <title>Flask Blog - {{ title }}</title>
  {% else %}
    <title>Flask Blog</title>
  {% endif %}
</head>
<body>
  <div class="top_bar">
    <div style="height:1px;"></div>
    <h1 style="margin-left:510px;font-size:30px;margin-top:5px;margin-right:auto;"><a href="/home" style="text-decoration:none;color:white;">Pranav's blog</a></h1>
  </div>
  <div class="right_bar">
    <div style="height:10px;"></div>
    <h1 style="font-size:25px;margin-top:10px;"><a href="/home" style="text-decoration:none;color:white;">Home</a></h1>
    <h1 style="font-size:25px;margin-top:10px;"><a href="/about" style="text-decoration:none;color:white;">About</a></h1>
  </div>
  <div style="margin-top:-590px;height:0px;"></div>
  <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category,message in messages %}
          {% if category == 'success' %}
            <div class="success" style="text-align:center;">
              <h3 style="font-size:15px;margin:auto;">{{ message }}</h3>
            </div>
          {% else %}
          <div class="failure" style="text-align:center;">
            <h3 style="font-size:15px;margin:auto;">{{ message }}</h3>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>
  <div style="margin-bottom:50px;"></div>
</body>
</html>
