{% extends "layout.html" %}

{% block content %}
  <h1 style="margin-left:500px;">Login</h1>
  <div class="post" style="margin-top:20px;height:320px;">
    <form method="POST" action="">
      <div style="height:10px;"></div>
      <div style="margin-top:20px;">
        {{ form.email.label(class="label_field") }}
        <div></div>
        {{ form.email(class="input_field") }}
      </div>
      <div style="margin-top:20px;">
        {{ form.password.label(class="label_field") }}
        <div></div>
        {{ form.password(class="input_field") }}
      </div>
      <div style="margin-top:20px;">
        {{ form.submit(class="button submit_button") }}
      </div>
    </form>
  </div>
{% endblock content %}
